*~
autom4te.cache/*
clamav-config
clamav-config.h
config.log
config.status
.deps
*.gcda
*.gcno
libclamav.pc
.libs
libtool
*.l[oa]
Makefile
*.[oa]
platform.h
stamp-h1
*.swp
TAGS
/target.h
libclamav/c++/autom4te.cache/*
