# Handle line endings automatically for files detected as text
# and leave all files detected as binary untouched.
* text=auto

#
# The above will handle all files NOT found below
#

# Files that should be left untouched (binary is macro for -text -diff)
*.ref           binary

# Preserve signature for .cargo/vendor files (from the tarabll)
+/.cargo/vendor binary

#
# Exclude files from exporting
#
.gitattributes  export-ignore
.gitignore      export-ignore
